{% extends "base.html" %}
{% block title %}Manage Credentials{% endblock %}
{% block csscontent %}<link href="/static/css/credentials.css" rel="stylesheet">{% endblock %}
{% block content %}

<div class="col-md-9">
{% if banner_msg %}
  {% if status %}
  <div class="col-md-9 alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{banner_msg}}
  </div>
  {% else %}
  <div class="col-md-9 alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{banner_msg}}
  </div>
  {% endif %}
{% endif %}

  <div class="col-md-9 clearfix infra-select">
    <div class="pull-right">
      Currently Selected Infrastructure: {{infrastructure}}
      {% if all_infrastructures is defined and all_infrastructures %}
      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
          Change <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {% for infra in all_infrastructures %}
            <li><a href="/credentials?infrastructure={{infra}}">{{infra}}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
  
  <div class="col-md-9">
    <div class="well well-large">
      <form id="credentials" action="/credentials" method="post">    
        <legend>
          <a data-toggle="modal" href="#help_modal1">
            {{infrastructure}} Credentials <span class="glyphicon glyphicon-question-sign"></span>
          </a>
        </legend>
        {% set help_modal_id = "help_modal1" %}
        {% set help_modal_title = "AWS Credentials" %}
        {% set help_modal_message = "In order to use cloud computing resources, you need to enter your personal credentials for Amazon Web Services (AWS). You can obtain the credentials from the AWS control panel after logging in to you AWS account." %}
        {% include "help_modal.html" %}
        {{help_modal|safe}}
        
        <input type="hidden" name="infrastructure" value="{{infrastructure}}">
        {% if credentials_msg %}
          {% if status == False %}
          <span class="msg error-msg">{{credentials_msg}}</span>
          {% else %}
          <span class="msg success-msg">{{credentials_msg}}</span>
          {% endif %}
          <br />
        {% endif %}
        
        <div class="form-group">
          <label for="access-key"> Access Key </label>
        {% if active_vms == False %}
          <input id="access-key" class="form-control" type="text" name="access_key" value="{{access_key}}">
        </div>
        <div class="form-group">
          <label for="secret-key"> Secret Key </label>
          <input id="secret-key" class="form-control" type="text" name="secret_key" value="{{secret_key}}">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-large full-width" name="action" value="save">
            Save credentials
          </button>
        </div>
        {% else %}
          <input id="access-key" class="form-control" type="text" name="access_key" value="{{access_key}}" disabled>
        </div>
        <div class="form-group">
          <label for="secret-key"> Secret Key </label>
          <input id="secret-key" class="form-control" type="text" name="secret_key" value="{{secret_key}}" disabled>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-large full-width" name="action" value="save" disabled>
            Save credentials
          </button>
        </div>
        {% endif %}
      </form>
    </div>
  </div>

  <div class="col-md-9">
    <div class="well well-large">
      <form id="start_vms" action="/credentials" method="post">
        <legend>
          <a data-toggle="modal" href="#help_modal2">
            {{infrastructure}} Compute Nodes <span class="glyphicon glyphicon-question-sign"></span>
          </a>
        </legend>
        {% set help_modal_id = "help_modal2" %}
        {% set help_modal_title = "Compute nodes" %}
        {% set help_modal_message = "Compute nodes are computers in the Cloud that come preconfigured to run the simulations you configure in the app. You can launch one or more such compute nodes by filling in the number of nodes in the box and clicking the Launch button. In this version of CloudRunner, we use t1.micro instances in Amazon EC2 so that you can use your free usage tier with AWS to evaluate the app. Consult your AWS account for details." %}
        {% include "help_modal.html" %}
        {{help_modal|safe}}
        
        <input type="hidden" name="infrastructure" value="{{infrastructure}}">
        
        <div class="form-group">
          <label for="num-nodes">Enter the number of nodes you want to launch</label>
          <input id="num-nodes" class="form-control" type="text" name="num_vms" TITLE="Enter a value less than 20">
        </div>
        <div class="form-group clearfix">
        {% if valid_credentials %}
          <button class="btn btn-primary btn-large pull-right full-width" name="action" value="start">
            Launch nodes
          </button>
        {% else %}
          <button class="btn btn-primary btn-large pull-right full-width" name="action" value="start" disabled>
            Launch nodes
          </button>
        {% endif %}
          <!-- Display status messages -->
          {% if msg %}
          <br /><br />
          {% if status == False %}
          <span class="error-msg">{{msg}}</span>
          {% else %}
          <span class="success-msg">{{msg}}</span>
          {% endif %}
          {% endif %}
        </div>
        
        <div class="form-group">
          <label>Status of VMs:</label>
          <!-- Display the status of the VMs -->
        {% if active_vms == False or active_vms is not defined %}
          {% if valid_credentials %}
          <br />
          <span class="msg success-msg">
            There are no active compute nodes.
          </span>
          {% endif %}
        {% else %}
          {% if number_running %}
          <br />
          <span class="msg success-msg">
            Running: {{number_running}}  
          </span>
          {% endif %}
          {% if number_pending %}
          <br />
          <span class="msg error-msg">
            Pending: {{number_pending}}
          </span>
          {% endif %}
        {% endif %}
          <!-- Display error messages related to VMs -->
        {% if vm_status_msg %}
          <br />
          {% if vm_status == False %}
          <span class="msg error-msg">{{vm_status_msg}}</span>
          {% else %}
          <span class="msg success-msg">{{vm_status_msg}}</span>
          {% endif %}
        {% endif %}
        </div>
        <div class="form-group">
          <button type = "submit" class="btn btn-primary btn-large half-width" name="action" value="refresh">
            Refresh status
          </button>
        {% if active_vms %}
          <button type="submit" class="btn btn-primary btn-large half-width" name="action" value="stop">
            Terminate all nodes
          </button>
        {% else %}
          <button type="submit" class="btn btn-primary btn-large half-width" name="action" value="stop" disabled>
            Terminate all nodes
          </button>
        {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
